<form method="POST">
  <label>GitHub: <input type="url" name="github" value="{{ user.github }}"></label><br>
  <label>LinkedIn: <input type="url" name="linkedin" value="{{ user.linkedin }}"></label><br>
  <label>Twitter: <input type="url" name="twitter" value="{{ user.twitter }}"></label><br>
  <label>Facebook: <input type="url" name="facebook" value="{{ user.facebook }}"></label><br>
  <label>Website: <input type="url" name="website" value="{{ user.website }}"></label><br>
  <button type="submit">Update</button>
</form>
